h1 {
	text-align: center;

}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
   width: 70%;
   margin: auto;
  }
ul {
	text-align: center;
	display: inline;
}


.carousel-indicators .active.carousel-indicator {
	background-color: #A9A9A9;
	border-color: #A9A9A9;
}

p {
	text-align: center;
	color: #753742;
}

h3 {
	text-align: center;
	position: fixed;
    bottom: 0px; 
    width: 100%;
}